<html>
    <head>
        <title>GIVE IT ANY NAME FIRST</title>
        <link rel="stylesheet" href="{{ 'templates/bootstrap.css' }}">
    </head>
    <body>
        
            <div class="row">
                <img src="microphone.png" width="500px" height="500px" class="img img-reponsive" alt="">
                <br>
                <input type="file" name="audio">
                <button onclick="" style="margin-top: 5px" class="btn btn-lg btn-primary">
                    Upload
                </button>
        
            </div>
        
        <script src="./templates/includes/bootstrap.js"></script>
    </body>
</html>